.OrderContainer{
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px auto;
    padding: 10px;
}
.IngredientsContainer{
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
    border:1px solid white;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px 13px 10px 13px;
    background-color: tomato;
    color: white;
}
